.demo-background {
  background-color: #eeeeee;
}

.demo-layout {

}

.demo-main {
  flex-shrink: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  align-self: center;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-self: center;
  align-content: center;
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 80px 56px;
/*   margin-bottom: 80px; */
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h3 {
/*   margin-top: 48px; */
}

.demo-textfield {
  background-color: #ffffff;
  padding: 10px;
  margin-top: 10px;
/*   width: 100%; */
  border-radius: 4px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}